footer {
  padding: 4vw 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #a147ff 0%, #360039 100%);
  color: white;

  & h3 {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-family: "calistoga", sans-serif;
  }
}

#containerForm_reseaux {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
/*_____ FORM _____*/
  & form {
    width: 70%;
    height: 23rem;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -0.1rem 0.2rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;

    & label {
      position: relative;
      color: var(--primary-color);
      font-size: 1rem;

      & h3 {
        width: 100%;
        padding: 1.5rem;
        position: absolute;
        top: -7.8rem;
        left: 0;
        border-radius: .9rem;
      }
    }

    & #conteneurMel {
      & #mel {
        width: 40%;
        border: none;
      }
      & #button {
        background: transparent;
        border: none;
        color: var(--secondary-color);
        cursor: pointer;
      }
    }
    

    & .cgu label {
      margin-left: 2rem;
    }

    & hr {
      margin: 0 auto;
      width: 70%;
      height: .2rem;
      background-color: var(--primary-color);
    }

    & input[type="checkbox"] {
      opacity: 1 !important;
    }
  }

/*_____ RESEAUX _____*/
  & #containerReseaux {
    width: 40%;

    & #reseaux {
      display: flex;
      justify-content: space-around;
  
      & i {
        font-size: 2rem;
        color: var(--secondary-color);
      }
    }
  }
}

#container_archives_credits {
  width: 50%;
  height: 30rem;

  & #containerArchives {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;

    & h3 {
      padding: 1.5rem;
      position: absolute;
      width: 100%;
      top: -4.7rem;
      border-radius: .9rem;
    }

    & #archives {
      width: 100%;
      height: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: -.1rem .2rem .1rem .3rem rgba(0, 0, 0, 0.3);
      border-radius: .5rem;
      overflow: scroll;

      & li {
        padding: 1rem;
      }
    }
  }
}

/*_____ MODAL _____*/

#modal1 {
  top: 0 !important;

  #modal1 > div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    }
  
  & .modal-header {
    display: flex;
    justify-content: flex-end;

    & .fa-times {
      color: white!important;
    }
  }
}




