/*_____ VARIABLES _____*/
:root {
  --backgroundTitle: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
  --backgroundHautFiche: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(255, 215, 0);
}


@media screen and (min-width: 921px) and (max-width: 1400px) {
  #imgIntro img {
    margin-left: 0px;
  }

  #textIntro_video {
    width: 60%;
  }
}

@media screen and (min-width: 500px) and (max-width: 1240px) {
  body {
    font-size: 0.9rem;
  }

 /*_____ LOGO & NAVBAR _____*/
  #container_logo_navbar {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    position: fixed;
    z-index: 15;
    top: 15px;
  }

  #logo h1 {
    position: static;
  }

  #ping {
    position: absolute;
    top: 0%;
    left: 45%;
  }

  #navbar {
    height: 70%;
    width: 0%;
    position: fixed;
    left:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #navbar ul {
    padding: 10px;
    margin-top: 40px;
    width: 0%;
    height: 45%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  #navbar a {
    background-color: transparent;
  }

  #navbar i {
    font-size: 1.5rem;
  }
/*_____ IMG & VIDEO _____*/
  #container_textIntro_imgIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column-reverse !important;
  }

  #textIntro_video {
    margin-top: 0;
    padding: 7%;
    width: initial;
    height: initial;
    text-align: justify;
  }

  #textIntro_video h2 {
    text-align: center;
  }

  #imgIntro {
    margin-top: 0;
  }

  iframe {
    width: 100%;
  }

/*_____ SECTIONS _____*/
  #section1 .containerTitreSection h1,
  #section3 .containerTitreSection h1 {
    font-size: 3rem;
  }

  #section2 .containerTitreSection h1,
  #section4 .containerTitreSection h1 {
    font-size: 3rem;
  }
  .sections h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .containerSectionHeader {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .containerTitreSection {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

/*_____ MODAL _____*/
  .modal {
    width: 100%;
    z-index: 12;
    overflow: scroll !important;
  }

  .modal::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  .modal-content {
    padding: 0 !important;
    max-width: 70%;
  }
/*_____ CARD _____*/
  .card.medium {
    height: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    max-height: 41%;
    max-width: 100%;
    position: relative;
  }

  .card-image::before {
    content: "";
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: var(--backgroundHautFiche);
  }

  .card .card-image img {
    width: 100%;
    height: initial;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    border-radius: 2px 2px 0 0;
  }

  .card.medium .card-content {
    width: 100%;
    max-height: 61% !important;
    overflow: scroll;
  }

  .card.medium .card-content::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  .cardp {
    padding-bottom: 20px;
  }


  .close {
    color: #fff;
    z-index: 2;
  }

/*_____ CAROUSEL _____*/

  .carousel {
    overflow: hidden;
    position: relative;
    height: 44rem;
    -webkit-perspective: 50rem;
    perspective: 50rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    z-index: 10;
  }

  .carousel-item {
    position: relative;
  }

  .myBtn {
    position: absolute;
    bottom: -94px;
    right: 40%;
    z-index: 12;
    cursor: pointer;
  }

  .fa-plus-circle {
    font-size: 46px;
    color: var(--secondary-color);
  }

  .containerCardImgMini {
    width: 180px;
    height: 270px;
    overflow: hidden;
    object-fit: cover;
  }

  /*****FORM*****/
  #containerForm_reseaux {
    width: 73%;
    margin: 60px auto;
  }

  #container_archives_credits {
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-height: 768px) {
  body {
    font-size: 0.9rem;
  }

  #container_textIntro_imgIntro {
    padding: 0;
  }

  #archives {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  body {
    font-size: 0.9rem;
  }

  #header, .sections {
    padding: 0 6%;
  }

/*_____ LOGO & NAVBAR _____*/
  #container_logo_navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--backgroundNavBar);
  }

  #logo {
    position: fixed;
    z-index: 15;
    top: 15px;
  }

  #logo h1 {
    position: static;
  }

  #ping {
    position: absolute;
    top: 0%;
    left: 45%;
  }

  #navbar {
    height: 50%;
    width: 0%;
    position: fixed;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  #navbar ul {
    padding: 10px;
    margin-top: 40px;
    width: 0%;
    height: 45%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  #navbar ul a {
    padding: 0;
  }

  #navbar a {
    background-color: transparent;
  }

  #navbar i {
    font-size: 1.5rem;
  }

/*_____ IMG & VIDEO _____*/
  #container_textIntro_imgIntro {
    position: relative;
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #textIntro_video {
    margin-top: 0;
    width: initial;
    height: initial;
    padding: 7%;
    text-align: justify;
  }

  #textIntro_video h2 {
    text-align: center;
  }

  .containerVideo {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  #imgIntro {
    max-width: 80%;
    height: 50%;
  }

/*_____ SECTION _____*/

  .sections h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .containerSectionHeader {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .containerTitreSection {
    width: 100%;
    text-align: center;
  }

/*_____ MODAL _____*/
  .modal {
    width: 100%;
    z-index: 12;
    overflow: scroll;
  }

  .modal::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  .modal-content {
    padding: 0 !important;
    max-width: 98%;
  }
/*_____ CARD _____*/
  .card.medium {
    height: 100% !important;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    max-height: 41%;
    max-width: 100%;
    position: relative;
  }

  .card-image::before {
    content: "";
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .card .card-image img {
    width: 100%;
    height: initial;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    border-radius: 2px 2px 0 0;
  }

  .card.medium .card-content {
    width: 100%;
    max-height: 61% !important;
    overflow: scroll;
  }

  .card.medium .card-content::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }

  .cardp {
    padding-bottom: 20px;
  }

  .close {
    color: var(--primary-color);
    z-index: 2;
  }
/*_____ CAROUSEL _____*/
  .carousel {
    height: 44rem;
    position: relative;
    -webkit-perspective: 50rem;
    perspective: 50rem;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    z-index: 10;
    overflow: hidden;
  }
  .carousel-item {
    position: relative;
    overflow: hidden;
  }
  .myBtn {
    position: absolute;
    bottom: -94px;
    right: 40%;
    z-index: 12;
    cursor: pointer;
  }

  .fa-plus-circle {
    font-size: 46px;
    color: var(--secondary-color);
  }

  .containerCardImgMini {
    width: 180px;
    height: 270px;
    overflow: hidden;
    object-fit: cover;
  }

  form hr {
    width: 80%;
  }
/*_____ FORM _____*/
  #containerForm_reseaux {
    margin: 60px auto;
    width: 73%;
  }

  #container_archives_credits {
    width: 100%;
  }

  #archives {
    width: 100%;
  }
}
